.shell {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;

    .header {
        position: relative;
        z-index: 500;

        .mantine-Group-root {
            height: 100%;
            .app-logo {
                position: relative;
                display: inline-block;
                height: 100%;
                width: auto;
            }

            .app-name {
                font-weight: 400;
                margin-top: 4px;
            }
        }
    }

    .mantine-AppShell-body {
        z-index: 0;
    }

    .mantine-AppShell-body .mantine-AppShell-main {
        box-sizing: border-box;
        display: inline-block;
        padding-top: 12px;
        height: calc(100vh - 60px);
        min-height: 0px;
    }

    .nav {
        .recents {
            .recent-project {
                position: relative;
                overflow: hidden;
                padding-left: 48px;

                .project-icon {
                    position: absolute;
                    top: 50%;
                    left: 14px;
                    transform: translate(0, -50%);
                }

                .open-btn {
                    position: absolute;
                    top: 50%;
                    right: -48px;
                    transform: translate(0, -50%);
                    transition: right 0.15s ease-in-out;
                }

                &:hover .open-btn {
                    right: 16px;
                }

                &.no-recent {
                    padding-left: unset;
                    margin: auto;
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    opacity: 0.6;
                }
            }
        }
    }
}
